<div class="palm-scene" id="preferences">
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>	
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="main-icon"></div>
			<div class="title un-capitalize" x-mojo-loc="">User Details</div>
		</div>
	</div>
		<div class="palm-inline-error" style="display:none" id="logon_error">
		<div class="palm-body-text">
		</div>
			<div class="error-message" >You need to be logged in to see your user details!</div>
		</div>
<div style="display:none" id="logon_true">		
	<div class="palm-body-text">
</div>
  <div id="scroller" x-mojo-element="Scroller">
		<div align='center'>
    <span id="avatar"></span>
		</div>	
  </div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Username</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<strong><span id="user"></span></strong>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Pastes</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="pastes"></span>  
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Account</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="account"></span>  
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Watching</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="watching"></span> 
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Watchers</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="watchers"></span>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Email</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="email"></span> 
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Location</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="location"></span>  
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Website</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="website"></span>  
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Bio</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<span id="bio"></span>  
</div>
<div class="palm-body-text">
</div>
</div>
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
</div>