<div class="palm-scene" id="about">
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>	
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="main-icon"></div>
			<div class="title un-capitalize" x-mojo-loc="">Pastebin for webOS</div>
		</div>
	</div>
  <div id="scroller" x-mojo-element="Scroller">
		<div align='center'>
    <img src="PasteIcon128_128.png">
		</div>	
  </div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Pastebin</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
This a Pastebin.com client for webOS. Version <span id="version"></span> &copy; milclobe 2011.
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">milclobe</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
We are a UK based web development company who are big fans of webOS.
</div>
<div class="palm-body-text">
Our name is pronounced <i>[mil-kloh-bee]</i> and you can find us on the web at <a href="http://milclobe.com">milclobe.com</a> feel free to visit.
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Changelog</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<i>Updates in version <span id="clversion"></span></i>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">2.1.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>In app preview of Pastes</li>
<li>Duplicate Paste check</li>
<li>Fixed inherit settings</li>
<li>Other bug fixes</li>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">2.0.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>Uses the v3 Pastebin.com API</li>
<li>User account support</li>
<li>My Pastebin support</li>
<li>On device deletion</li>
<li>Mass delete of Pastes</li>
<li>User stats page</li>
<li>Subdomains have been deprecated</li>
<li>Email have been deprecated</li>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">1.3.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>Added sharing via messaging</li>
<li>Preference for app promotion</li>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">1.2.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>Changes to advance settings UI</li>
<li>Collapsible divider instead of toggle</li>
<li>Post exposure is now a list selector</li>
<li>Advanced settings drawer saves state</li>
<li>Added device rotation</li>
<li>Added preferences scene</li>
<li>Added theme selection</li>
<li>Change to SQLite for history storage</li>
<li>Enter to submit on history scene</li>
<li>Preference for automagic updates</li>
<li>Preference for anonymous stats</li>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">1.1.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>More Paste sharing options</li>
<li>History of Pastes</li>
<li>Paste history sharing options</li>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">1.0.0</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
<li>Initial public release</li>
<li>All Paste syntax options</li>
<li>All Pastebin.com options</li>
</div>
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
</div>