<div class="palm-scene" id="fields">
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>	
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class="main-icon"></div>
			<div class="title un-capitalize" x-mojo-loc="">Pastebin fields</div>
		</div>
	</div>
<div class="palm-body-text">
<i>These are the fields that are available and the meanings.</i>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Paste Name</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
This an optional field which becomes the title of your Pastebin entry.
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Paste Code</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
This is the only <strong>required</strong> field enter the text you want to share here.
</div>
<div class="palm-body-text">
<i>To highlight particular lines, prefix each line with @h@</i>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Advanced Settings</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
Toggle this switch to view and change the advanced settings.
</div>
<div class="palm-body-text">
<i>These are all optional settings.</i>
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Paste Format</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
Select the programming language to enable syntax highlighting. 
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Paste Expiration</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
How long you want your post to remain in the Pastbin.com database. 
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Paste Exposure</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
Do you want your post to be public or private? 
</div>
<table class="palm-divider labeled"><tbody>
<tr>
<td class="left"></td>
<td class="label">Remember these settings</td>
<td class="right"></td>
</tr>
</tbody>
</table>
<div class="palm-body-text">
Tick this and the advanced settings will be stored in the app.
</div>
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
</div>